<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
 
 
 <context-param>
	<param-name>driver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
</context-param>


<context-param>
	<param-name>url</param-name>
	<param-value>jdbc:mysql://112.74.45.198/mthins</param-value>
</context-param>
<context-param>
	<param-name>user</param-name>
	<param-value>root</param-value>
</context-param>
<context-param>
	<param-name>pass</param-name>
	<param-value>chairman521</param-value>
</context-param>
 
 
 
 <listener>
  <listener-class>main.listeners.GetConnectionListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
